body {
  font-family: "Open Sans";
  background-color:#1f1f1f;
  margin:0;
}

h1 {
  color:#f9be03;
}

h2 {
  color:#f9be03;
}

ul {
 list-style: none;
 line-height: 50px;
 padding-left: 0px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-top-color:#f9be03;
 border-style: solid;
 -webkit-margin-before: 0em;
 -webkit-margin-after: 0em;
}

li {
  padding-left: 15px;
}
.slider_div {
  padding: 10px 30px;
}

form {
  color: 999;
}

#sliders {
  background-color:#282828;
  width:260px;
  height: calc(100vh - 40px);
  float:left;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 4px;
}

.button {
  color: #999;
  font-size: 14px;
  border-bottom: 1px solid #232323;
  border-top: 1px solid #2d2d2d;
}

.button-active {
  background-color: #2f2f2f;
  color: #f9be03;
}

.button:hover {
    text-decoration: none;
    background-color: #282828;
    color: #eee;
}

.label {
  font-size: 14px;
}


#loginbox {
 display:flex;
 flex-direction:column;
 align-content: center;
 width:300px;
 background: #3a3a3a;
 border-radius: 3px;
 border: 1px #444 solid;
 padding: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

#loginbox h1 {
 margin: 0 0 15px 0;
 text-align:center;
}

#loginbox input {
 box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
 border: 1px solid #b9b9b9;
 border-radius: 2px;
 color: #505050;
 height: 26px;
 float: left;
 width:290px;
 margin-bottom:15px;
 padding-left: 8px;
 font-size:14px;
}

#loginbox #submit {
 background: #fff;
 color: #505050;
 font-size: 14px;
 border: 1px solid #afafaf;
 height: 30px;
 width: 88px;
 font-weight: 600;
 border-radius: 0 2px 2px 0;
 box-shadow: none;
 float: left;
 margin: 0 calc(50% - 44px);
 padding: 0;
}
