<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/normalize.css" />
<link rel="stylesheet" href="../css/d3.slider.css" />
<link rel="stylesheet" href="../css/ourstyles.css" />

<style>

text {
  font: 10px sans-serif;
}

div.tooltip {
    color: white;
    position: absolute;
    text-align: left;
    width: 140px;
    height: 070px;
    padding: 2px;
    font: 10px sans-serif;
    background: #333;
    border: 1px solid lightgrey;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
}

div.slider {
    margin: 10px 0px 10px 0px;
    height: 10px;
}
// 79
// 59 == 1.33
//=19596  == 1.79
// =10930

// 207
// 264 == 1.27


</style>
<body style="background-color:#1f1f1f;margin:0">
<div id="sliders">
    <div class="slider_div">
        <div class="slider_header">Filter Years</div>
        <div class="slider" id="year_slider"></div>
    </div>
    <div class="slider_div">
        <div class="slider_header">Zoom</div>
        <div class="slider" id="zoom_slider"></div>
    </div>
    <!-- <svg style="width:200px;height:500px" id="navBar"> </svg> -->
    <div id="navBar">
    </div>
</div>
<div id="vis"> </div>
</body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script> var user_data = "..{{ data }}"</script>
<script src="../js/d3.slider.js"></script>
<script src="../js/bubblechart.js"></script>
